* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: #080808;
}
html{
    scroll-behavior: smooth;
}
.container {
    padding: 10px 10%;
}
.about-col-1{
    text-align: center;
    font-size: 50px;
    color: #157FEB;
}
.about-me-text{
    color: #fff;
    font-size: 20px;
    padding-left: 30px;
    line-height: 50px;
}
.back {
    position: fixed;
    bottom: 20px;
    left: 20px;
}
.back a {
    text-decoration: none;
    color: #157FEB;
    font-size: 40px;
}
