* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(background-main.png);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 38px;
    font-weight: bold;
    text-shadow: 2px 2px #2e2e2e;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #157FEB;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover:after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
    text-shadow: 4px 4px #2e2e2e;
}

.header-text h1 {
    font-size: 70px;
    margin-top: 20px;
    text-shadow: 4px 4px #2e2e2e;
}

.header-text h1 span {
    color: #157FEB;
}

/* About me */

.about-col-1 {
    color: #157FEB;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
    font-size: 30px;
}

.about-me-text {
    font-size: 12px;
    font-weight: 100;
    color: #fff;
    line-height: 40px;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #157FEB;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents {
    list-style: none;
    margin: 10px 0;
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.tab-contents ul li span {
    color: #157FEB;
    font-size: 17px;
}
/* ---- Experience ---- */
#projects{
    padding: 150px 0;
    font-size: 30px;
    color: #157FEB;
}
.project-list{
    display: grid;
    font-size: 13px;
    color:#fff;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.project-list div{
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.project-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.project-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.project-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.project-list div:hover{
    background-color: #157FEB;
    transform: translateY(10px);
}
/* ---contact--- */
.btn{
    display: inline-block;
    color:#fff;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #157FEB;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.5s;
}
.btn:hover{
    background: #0d5ea5;
}
.contact-left {
    padding-top: 120px;
    font-size: 30px;
    color: #157FEB;
    width: 35%; /* Set the width of the left container */
}

.contact-right {
    padding-top: 120px;
    width: 65%; /* Set the width of the right container */
}

.contact-left p {
    font-size: 15px;
    color: #fff;
    margin-top: 30px;
}

.contact-left p i {
    color: #157FEB;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: 0.5s;
}

.social-icons a:hover {
    color: #157FEB;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: calc(100% - 30px);
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form button[type="download"] {
    background-color: #157FEB; 
    color: #fff; 
    padding: 15px 30px; 
    font-size: 18px; 
    border: none; 
    border-radius: 6px;  
}
form button[type="submit"] {
    background-color: #157FEB; 
    color: #fff; 
    padding: 15px 30px; 
    font-size: 18px; 
    border: none; 
    border-radius: 6px; 
    cursor: pointer;
    transition: background-color 0.5s ease-in-out; 
}

/* Add hover effect for the submit button */
form button[type="submit"]:hover {
    background-color: #0d5ea5; /* Darker blue on hover */
}
/*----------phone screens --------*/
@media only screen and (max-width: 600px) {
    
    #header {
        background-image: url(phone-background-main.png);
    }

    
    .header-text {
        margin-top: 50%; 
        font-size: 16px; 
    }

    
    .header-text h1 {
        font-size: 30px; 
    }

    
    .project-list div {
        padding: 20px; 
        font-size: 12px; 
        border-radius: 6px; 
    }

    
    .contact-left,
    .contact-right {
        width: 100%; 
    }

    
    .social-icons {
        margin-top: 20px; 
    }

    
    form input,
    form textarea {
        width: calc(100% - 20px); 
        padding: 10px; 
        font-size: 14px; 
        border-radius: 4px; 
    }

    
    form button[type="submit"] {
        padding: 12px 24px; 
        font-size: 16px; 
        border-radius: 4px; 
    }
    
    .about-col-1 {
        font-size: 24px; 
    }
    
    .about-me-text {
        font-size: 14px; 
        line-height: 24px; 
    }
    
    .tab-titles {
        margin: 10px 0 20px; 
    }
    
    .tab-links {
        font-size: 16px; 
    }
    
    .tab-links::after {
        bottom: -4px; 
    }
    
    .tab-contents ul li {
        font-size: 14px; 
    }
    .contact-left h1.sub-title {
        font-size: 25px; 
        padding-bottom: 20px; 
    }
}

